body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to bottom, #1c4376,   #001233); 
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
}