/* HEADER */
header {
    background-color: rgba(9, 40, 72, 0.65); 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    position: fixed;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08); 
    
}

nav {
    width: 100%;
    height: 100%;
}

.menu-superior {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 40px; 
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
   
}

.nav-links a {
    color: rgba(255, 255, 255, 0.841);
    text-decoration: none;
    font-weight: 600;
    gap: 8px;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: 1.5px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #85b5cb;
    transition: 0.3s;
}

a.btn-entrar {
    color: #85b5cb;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 6px;
}

a.btn-entrar:hover {
    color: white;
    transition: 0.3s;
}

a.btn-cadastro {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    background-color: #214174;
    padding: 10px 20px;
    border-radius: 6px;
}

a.btn-cadastro:hover {
    background-color: #39678f;
    color: white;
    transition: 0.3s;
    transform: scale(1.05);
}

.btn-cadastro .material-symbols-outlined {
    font-size: 18px; 
    transition: 0.3s;
}

.buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.5px;
    
}


.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-img {
    display: block;
    width: auto;
}

div.logo img {
    transform: translateY(5px);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: 400;
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24;
    font-feature-settings: 'liga' 1;
    text-transform: none;
    color: white;
}

/* PAGE LAYOUT */
html,
body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

main {
    flex: 1;
}

/* FOOTER */
footer {
    background-color: #09284877;
    backdrop-filter: blur(10px);
    color: white;
    position: relative;
    padding: 60px 50px;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto auto 30px auto; 
    text-align: left;
    border-radius: 25px;
    border: 2px solid #152d5248;
    font-size: 12px;
}

footer h3 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    padding: 4px 0;
}

footer li a:hover {
    color: #85b5cb;
    transition: 0.3s;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-section {
    min-width: 250px;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid rgba(15, 76, 114, 0.33);
    padding-top: 24px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    font-size: 10px;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom ul {
    display: flex;
    gap: 24px;
}

.newsletter-form {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.newsletter-form input[type="email"] {
    padding: 15px 30px;
    border-radius: 30px;
    border: 2px solid #717f9467;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #525a758c;
    outline: none;
    transition: border-color 0.3s;
}

.newsletter-form input:hover,
.newsletter-form input:focus {
    border-color: #85b5cb;
}

.newsletter-form button {
    background-color: #161b24;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.newsletter-form button:hover {
    transition: 0.3s;
    transform: scale(1.09);
}

.logo2 {
    height: 70px;
    margin-bottom: 20px; 
}

.logo2 img {
    display: block;
    height: 90px;
    width: auto;
}

.meu-icone {
  color: #85b5cb; 
  transition: 0.3s; 
}

.icons a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.meu-icone2 {
  color: #85b5cb; 
  margin-bottom: 3px;
  transition: 0.3s; 
}